
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  margin-top: auto !important;
  font-family: Arial, sans-serif;
  padding: 20px;
  background: linear-gradient(135deg, #e0e7ef, #f8f9fa);
  font-family: 'Poppins', sans-serif;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.header h1 {
  font-size: 2rem;
  color: #091133;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 800px;
  margin: auto;
}

.card,
.form-field {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
  display: block;
}

textarea,
select,
input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

input[type="file"] {
  padding: 5px;
  background-color: #f9f9f9;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  text-align: center;
}

.form-field input,
.form-field textarea,
.form-field select {
  align-self: center;
}

.form-field .option-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-field label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.form-field input[type="radio"],
.form-field input[type="checkbox"] {
  margin: 0;
  width: auto;
}
button.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #091133;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button.submit-button:hover {
  background-color: #6082b6;
}
